<div class="input-container">
  <div class="input-field">
    <p-floatlabel variant="on">
      <p-password
        [fluid]="fluid()"
        [toggleMask]="toggleMask()"
        [showClear]="showClear()"
        [feedback]="feedback()"
        [inputId]="label()"
        [formControl]="control()"
      >
      </p-password>
      <label>{{ label() }}</label>
    </p-floatlabel>
    @if (control().touched && control().errors?.['required']) {
    <div class="input-error-message">
      <p-message size="small" variant="simple" severity="error">
        {{ label() }} is required
      </p-message>
    </div>
    }
  </div>
</div>
