<div class="input-container">
  <div class="input-field">
    <p-floatlabel variant="on">
      <label for="{{ label() }}">{{ label() }}</label>
      <input
        pInputText
        [id]="label()"
        [type]="fieldType()"
        [formControl]="control()"
        fluid="true"
        [autocomplete]="autocomplete()"
      />
    </p-floatlabel>
  </div>

  @if (control().touched && control().errors?.['required']) {
  <div class="input-error-message">
    <p-message size="small" variant="simple" severity="error">
      {{ label() }} is required.
    </p-message>
  </div>
  } @if (control().touched && control().errors?.['email']) {
  <div class="input-error-message">
    <p-message size="small" variant="simple" severity="error">
      {{ label() }} is not valid.
    </p-message>
  </div>
  }
</div>
